/**
 * Flex Grid -
 * Version: 0.3.5
 *
 * Simple grid built with flex box and sass.
 *
 * Matthew Simo - matthew.a.simo@gmail.com
 */
/**
 * Grid setup
 *
 * The grid will calculate dimensions based on these two variables:
 * $fg-columns will inform the grid loops how many columns there should be.
 * $fg-gutter will inform the grid loops how big eac column's gutters should be.
 *
 * The grid will name columns, rows, offsets based on these three variables:
 * $fg-class-row string used for the row class
 * $fg-class-col string used for the column class
 * $fg-class-off string used for the offset class
 */
/**
 * Break point namespace object
 *
 * Set the default namespace object with these defaults with the
 * understanding that you can pass in whatever you might require for your site.
 *
 * $fg-breakpoints is a Sass list with nested lists inside. Each sub list defines two things.
 * 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
 * 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)
 *
 * Note: These should be in the proper order (at least till libsass handles map keys properly).
 *
 * Note: If the measurement is left out then it will be skipped when generating
 * the grid and applied to global styles.
 *
 */
/**
 * Class Name Defaults
 *
 * Define class names for columns, rows and offsets in case compatibility with other
 * libraries is necessary.


/**
 * Calculate column size percentage
 */
/**
 * Spacing mixin to create uniform margin/padding
 */
/**
 * Row wrapper class, flex box parent.
 */
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1, .col-lg, .col-md, .col-sm, .col-xs {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.col-lg, .col-md, .col-sm, .col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

/**
 * Generate a set of grid column classes using a namespace
 *
 * .col-[namespace] for intelligent column division
 * .col-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
 * .off-[namespace]-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)
 * .off-[namespace]-reset for resetting a col's offset for that and larger namespaces
 */
/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
.col-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.off-xs-1 {
  margin-left: 8.3333333333%;
}

.off-xs-2 {
  margin-left: 16.6666666667%;
}

.off-xs-3 {
  margin-left: 25%;
}

.off-xs-4 {
  margin-left: 33.3333333333%;
}

.off-xs-5 {
  margin-left: 41.6666666667%;
}

.off-xs-6 {
  margin-left: 50%;
}

.off-xs-7 {
  margin-left: 58.3333333333%;
}

.off-xs-8 {
  margin-left: 66.6666666667%;
}

.off-xs-9 {
  margin-left: 75%;
}

.off-xs-10 {
  margin-left: 83.3333333333%;
}

.off-xs-11 {
  margin-left: 91.6666666667%;
}

.off-xs-reset {
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .off-sm-1 {
    margin-left: 8.3333333333%;
  }
  .off-sm-2 {
    margin-left: 16.6666666667%;
  }
  .off-sm-3 {
    margin-left: 25%;
  }
  .off-sm-4 {
    margin-left: 33.3333333333%;
  }
  .off-sm-5 {
    margin-left: 41.6666666667%;
  }
  .off-sm-6 {
    margin-left: 50%;
  }
  .off-sm-7 {
    margin-left: 58.3333333333%;
  }
  .off-sm-8 {
    margin-left: 66.6666666667%;
  }
  .off-sm-9 {
    margin-left: 75%;
  }
  .off-sm-10 {
    margin-left: 83.3333333333%;
  }
  .off-sm-11 {
    margin-left: 91.6666666667%;
  }
  .off-sm-reset {
    margin-left: 0;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .off-md-1 {
    margin-left: 8.3333333333%;
  }
  .off-md-2 {
    margin-left: 16.6666666667%;
  }
  .off-md-3 {
    margin-left: 25%;
  }
  .off-md-4 {
    margin-left: 33.3333333333%;
  }
  .off-md-5 {
    margin-left: 41.6666666667%;
  }
  .off-md-6 {
    margin-left: 50%;
  }
  .off-md-7 {
    margin-left: 58.3333333333%;
  }
  .off-md-8 {
    margin-left: 66.6666666667%;
  }
  .off-md-9 {
    margin-left: 75%;
  }
  .off-md-10 {
    margin-left: 83.3333333333%;
  }
  .off-md-11 {
    margin-left: 91.6666666667%;
  }
  .off-md-reset {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .off-lg-1 {
    margin-left: 8.3333333333%;
  }
  .off-lg-2 {
    margin-left: 16.6666666667%;
  }
  .off-lg-3 {
    margin-left: 25%;
  }
  .off-lg-4 {
    margin-left: 33.3333333333%;
  }
  .off-lg-5 {
    margin-left: 41.6666666667%;
  }
  .off-lg-6 {
    margin-left: 50%;
  }
  .off-lg-7 {
    margin-left: 58.3333333333%;
  }
  .off-lg-8 {
    margin-left: 66.6666666667%;
  }
  .off-lg-9 {
    margin-left: 75%;
  }
  .off-lg-10 {
    margin-left: 83.3333333333%;
  }
  .off-lg-11 {
    margin-left: 91.6666666667%;
  }
  .off-lg-reset {
    margin-left: 0;
  }
}
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background: #221E22;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main-content {
  max-width: 900px;
  margin: 0 auto;
}

p {
  color: #EFEFEF;
}

a {
  color: #EFEFEF;
  text-decoration: none;
}
a.breadcrumb {
  font-size: 0.75rem;
}
a.breadcrumb img {
  padding: 0 6px 0 0;
  margin: -3px 0 0 0;
}

h1 {
  font-weight: 200;
  color: #dcdcdc;
  font-size: 2.25rem;
  margin: 0;
}
h1.hero {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  color: #dcdcdc;
  font-weight: 200;
}

.hero-container {
  background: url("../img/bio-image.png") bottom right no-repeat;
  background-size: 90%;
  background-position: bottom -14px right -120px;
  padding: 275px 0 120px 25px;
}
.hero-container h2 {
  color: #A7A7A7;
  font-size: 1.35rem;
  font-weight: 200;
  margin: 0;
}

.hero-container--copy {
  width: 50%;
  display: block;
}

.work-card-container {
  margin: 0 0 20px 0;
}

.work-card {
  position: relative;
  padding: 20px;
  background: #282428;
  height: 250px;
  border: 1px solid;
  border-image: linear-gradient(45deg, rgb(143, 55, 0), rgb(66, 228, 250)) 1;
  border-radius: 6px;
  transition: all 0.2s ease;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  z-index: 1;
  display: flex;
  text-decoration: none;
  background: linear-gradient(180deg, rgb(44, 40, 44) 0%, rgb(44, 40, 44) 60%, rgb(40, 36, 40) 100%) padding-box, linear-gradient(177deg, rgb(69, 69, 69), rgb(49, 49, 49)) border-box;
}
.work-card h3 {
  color: #eee;
  font-weight: 600;
  margin: 0;
}
.work-card p {
  color: #878787;
  margin: 0;
}
.work-card:hover::before {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.work-card.hashicorp-1 {
  background-size: 67%;
  background: url("../img/hashi-card-bg.png") top right no-repeat, linear-gradient(180deg, rgb(44, 40, 44) 0%, rgb(44, 40, 44) 60%, rgb(40, 36, 40) 100%) padding-box, linear-gradient(177deg, rgb(69, 69, 69), rgb(49, 49, 49)) border-box;
  background-size: 67%;
}

.work-card--content {
  align-self: flex-end;
}

.work-card::before {
  content: "";
  border-radius: 6px;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s ease;
  background: linear-gradient(180deg, rgb(53, 49, 53) 0%, rgb(52, 48, 52) 60%, rgb(62, 58, 62) 100%) padding-box, linear-gradient(177deg, rgb(69, 69, 69), rgb(49, 49, 49)) border-box;
}

.work-card.hashicorp-1::before {
  background: url("../img/hashi-card-bg.png") top right no-repeat, linear-gradient(180deg, rgb(53, 49, 53) 0%, rgb(52, 48, 52) 60%, rgb(62, 58, 62) 100%) padding-box, linear-gradient(177deg, rgb(69, 69, 69), rgb(49, 49, 49)) border-box;
  background-size: 67%;
}

footer {
  border-top: 1px solid #2C2C2C;
  margin: 60px 0 30px 0;
  padding: 15px 0 0 0;
}
footer p, footer a {
  color: #727272;
  margin: 0;
  text-decoration: none;
}
footer p {
  float: right;
  font-size: 0.75rem;
}
footer a {
  float: left;
  transition: all 0.2s ease;
}
footer a:hover {
  color: #999;
  transition: all 0.2s ease;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}