@import '_flex-grid.scss';


/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background: #221E22;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-content {
  max-width: 900px;
  margin: 0 auto;
  &.home {
    max-width: 1050px;
  }
}

p {
  color: #EFEFEF;
  line-height: 1.6rem;
}

a {
  color: #ccc;
  text-decoration: none;
  width: fit-content;
  transition: all .2s ease;
  &:hover {
    color: #fff;
  }
  &.breadcrumb {
    font-size: 1rem;
    padding-top: 40px;
    font-weight: 300;
    img {
      padding: 0 6px 0 0;
      margin: -3px 0 0 0;
    }
  }
}


h1 {
  font-weight: 200;
  color: #dcdcdc;
  font-size: 2.25rem;
  margin: 0;
  &.hero {
    font-size: 3rem;
  }
}
h2 {
  font-size: 2.75rem;
  color: #dcdcdc;
  font-weight: 200;
}
h3 {
  font-size: 1.75rem;
  color: #dcdcdc;
  font-weight: 200;
}

ul {
  color: #efefef;
  padding: 0 0 0 15px;
  li {
    padding: 0 0 8px 0;
  }
}

p {
  color: #EFEFEF;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
}

.banner {
  background: #111;
  width: 100%;
  text-align: center;
  color: #eee;
  font-weight: 200;
  padding: 12px 0;
}

.hero-container {
  background: url('../img/bio-image.png') bottom right no-repeat;
  background-size: 90%;
  background-position: bottom -14px right -120px;
  padding: 275px 0 120px 25px;
  h2 {
    color: #A7A7A7;
    font-size: 1.35rem;
    font-weight: 200;
    margin: 0;
  }
}

.hero-container--copy {
  width: 50%;
  display: block;
}

.work-card-container {
  margin: 0 0 20px 0;
}


.construction {
  

    position: absolute;
    background: #393439;
    width: 110%;
    left: -20px;
    border: 1px solid #4f474f;
    top: 100px;
    rotate: 12deg;
    right: 0;
    padding: 10px 0 13px 26px;


}

.work-card {
  overflow: hidden;
  position: relative;
  width: inherit;
  padding: 20px;  
  background: #282428;
  height: 250px;  
  border: 1px solid;
  border-image: linear-gradient(45deg, rgb(143, 55, 0), rgb(66, 228, 250)) 1;
  border-radius: 6px;
  transition: all .2s ease;
  border:1px solid #0000;
  border-radius:6px;
  z-index: 1;
  display: flex;
  text-decoration: none;
  background:
    linear-gradient(180deg, rgb(44, 40, 44) 0%, rgb(44, 40, 44) 60%, rgb(40, 36, 40) 100%) padding-box, linear-gradient(177deg, rgb(69 69 69), rgb(49 49 49)) border-box;
  h3 {
    color: #eee;
    font-weight: 600;
    margin: 0;
  }
  p {
    color: #878787;
    margin: 0;
  }
  &:hover {
    h3 {}
    p {}
  }
  &:hover::before {
    opacity: 1;
    transition: opacity .2s ease;
  }
  &.hashicorp-1 {
    background-size: 67%;
    background:
    url('../img/hashi-card-bg.png') top right no-repeat,
    linear-gradient(180deg, rgb(44, 40, 44) 0%, rgb(44, 40, 44) 60%, rgb(40, 36, 40) 100%) padding-box, linear-gradient(177deg, rgb(69 69 69), rgb(49 49 49)) border-box;
    background-size: 67%;
  }

  &.hashicorp-2 {
    background-size: 67%;
    background:
    url('../img/hashicorp-main-2.png') bottom right no-repeat,
    linear-gradient(180deg, rgb(44, 40, 44) 0%, rgb(44, 40, 44) 60%, rgb(40, 36, 40) 100%) padding-box, linear-gradient(177deg, rgb(69 69 69), rgb(49 49 49)) border-box;
    background-size: 40%;
  }

  &.fieldapp {
    background-size: 67%;
    background:
    url('../img/fieldapp-bg.png') bottom right no-repeat,
    linear-gradient(180deg, rgb(44, 40, 44) 0%, rgb(44, 40, 44) 60%, rgb(40, 36, 40) 100%) padding-box, linear-gradient(177deg, rgb(69 69 69), rgb(49 49 49)) border-box;
    background-size: 67%;
  }
  &.watchbox {
    background-size: 67%;
    background:
    url('../img/watchbox-main.png') bottom right no-repeat,
    linear-gradient(180deg, rgb(44, 40, 44) 0%, rgb(44, 40, 44) 60%, rgb(40, 36, 40) 100%) padding-box, linear-gradient(177deg, rgb(69 69 69), rgb(49 49 49)) border-box;
    background-size: 57%;
  }
}

.work-card--content {
  align-self: flex-end;
}

.work-card::before {
  content: '';
  border-radius: 6px;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  z-index: -1;
  transition: opacity .2s ease;
  background: 
    linear-gradient(180deg, rgb(53 49 53) 0%, rgb(52 48 52) 60%, rgb(62 58 62) 100%) padding-box, linear-gradient(177deg, rgb(69, 69, 69), rgb(49, 49, 49)) border-box;
}

.work-card.hashicorp-1::before {
    background: 
    url('../img/hashi-card-bg.png') top right no-repeat,
    linear-gradient(180deg, rgb(53 49 53) 0%, rgb(52 48 52) 60%, rgb(62 58 62) 100%) padding-box, linear-gradient(177deg, rgb(69, 69, 69), rgb(49, 49, 49)) border-box;
    background-size: 67%;
}

.work-card.fieldapp::before {
    background:
    url('../img/fieldapp-bg.png') bottom right no-repeat,
    linear-gradient(180deg, rgb(53 49 53) 0%, rgb(52 48 52) 60%, rgb(62 58 62) 100%) padding-box, linear-gradient(177deg, rgb(69, 69, 69), rgb(49, 49, 49)) border-box;
    background-size: 67%;
}

.work-card.watchbox::before {
    background:
    url('../img/watchbox-main.png') bottom right no-repeat,
    linear-gradient(180deg, rgb(53 49 53) 0%, rgb(52 48 52) 60%, rgb(62 58 62) 100%) padding-box, linear-gradient(177deg, rgb(69, 69, 69), rgb(49, 49, 49)) border-box;
    background-size: 57%;
}
.work-card.hashicorp-2::before {
    background:
    url('../img/hashicorp-main-2.png') bottom right no-repeat,
    linear-gradient(180deg, rgb(53 49 53) 0%, rgb(52 48 52) 60%, rgb(62 58 62) 100%) padding-box, linear-gradient(177deg, rgb(69, 69, 69), rgb(49, 49, 49)) border-box;
    background-size: 40%;
}

.portfolio-hero {
  padding: 0 0 40px 0;
  &.hashicorp {
    background: url('../img/hashi-hero.png') bottom right no-repeat;
    background-size: 50%;
  }
  &.fieldapp-hero {
    background: url('../img/fieldapp-hero.png') 93% 100% no-repeat;
    background-size: 46%;
  }
  &.fieldapp-hero-ma {
    background: url('../img/fieldapp-hero-ma.png') 93% 100% no-repeat;
    background-size: 46%;
  }

  h1 {
    margin-top: 80px;
  }
  p {
    color: #A7A7A7;
    font-size: 1rem;
  }
}

.link-arrow {
  img {
    margin: 0 0 0 8px;
  }
}

.role-content-container {
  background: #282428;
  border: 1px solid #303030;
  box-shadow: 1px 4px 10px -3px #272727;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 20px;
  h4 {
    color: #b4b4b4;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    font-size: 1rem;
  }
  p {
    margin: 10px 0 0 0;
  }
  ul {
    margin: 10px 0 0 0;
    li {
      margin: 0;
    }
  }
  .role-content-block {
    background: inherit;
    background: #2c292c;
    border: 1px solid #303030;
    padding: 20px;
    border-radius: 5px;
    flex-basis: 33%;
    &:nth-of-type(2n) {
      margin: 0px 20px;
    }
    &.fieldapp-role {
      flex-basis: 50%;
      &:first-of-type {
        margin: 0 10px 0 0;
      }
      &:last-of-type {
        margin: 0 0 0 10px;
      }
    }
  }
}

.hashi-diagram {
  margin: 10px auto 20px auto;
  display: block;
  width: 100%;
}

.proposed-diagram {
  float: right; 
  margin-left: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 40px;
  .stat {
    margin: 10px; 
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #282828;
    background: #1B181B;
    box-shadow: 0 2px 6px 2px #1b1b1b;
    h5 {
      font-weight: 200;
      color: #dcdcdc;
      text-transform: uppercase;
      margin: 0;
      padding: 0 0 6px 0;
      border-bottom: 1px solid #282828
    }
    p {
      font-size: 2.25rem;
      font-weight: 600;
      margin: 15px 0 0 0;
    }
  }
}

.product-images {
  margin: 60px 0;
  background: #1B181B;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  padding: 60px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  .product-image {
    flex-basis: 25%;
    img {
      height: auto;
          width: 100%;
    }
  }
}

.view-site {
  width: auto;
  border: 1px solid #292929;
  background: #151515;
  padding: 8px 16px;
  border-radius: 5px; 
  transition: all .2s ease;
  width: fit-content;
  &:hover {
    background: #000;
    border: 1px solid #222;

  }
}

.portfolio-content {
  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #333131;
  }
  .content-block {
    margin: 0 0 30px 0;
    img {
      margin-bottom: 20px;
    }
  }
}

.casestudy-links {
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
  a {
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 45%;
  }
  h5 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;    
  }
  span {

  } 
  .previous-btn {
    background: #2e292e;
    border: 1px solid #403a40;
    &:hover {
      background: #3a343a;
    }
    img {
      float: left;
      margin-top: 15px;
    }
    text-align: right;
  }
  .next-btn {
    background: #2e292e;
    float: right;
    border: 1px solid #403a40;
    &:hover {
      background: #3a343a;
    }
    img {
      float: right; 
      margin-top: 15px;
    }
  }
}

footer {
  border-top: 1px solid #2C2C2C;
  margin: 60px 0 30px 0;
  padding: 15px 0 0 0;
  p, a {
    color: #727272;
    margin: 0;
    text-decoration: none;
  }
  p {
    float: right;
    font-size: .75rem;
  }
  a {
    float: left;
    transition: all .2s ease;
  }
  a:hover {
    color: #999;
    transition: all .2s ease;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

